@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About Microsoft</a>
        </div>

        <article class="content px-4">
            @Body
            <p>
                <div>
                    cd ~/projects/clubeez/app/data_broker_servers/clubeez-data-broker/
                </div>
                <div>
                    git reset --hard && git pull

                </div>
                <div>
                    rm -f Data.Broker.Service/appsettings.staging.json

                </div>
                <div>
                    cp ~/projects/clubeez/configs/data_broker_servers/Data.Broker.Service/appsettings.staging.json Data.Broker.Service/

                </div>
                <div>
                    rm -rf /tmp/data-broker

                </div>
                <div>
                    cp -a /opt/data-broker /tmp/

                </div>
                <div>
                    rm -rf /opt/data-broker/*

                </div>
                <div>
                    cd Data.Broker.Service/

                </div>
                <div>
                    dotnet publish --output /opt/data-broker/

                </div>
                <div>
                    sudo systemctl restart stage-data-broker.clubeez.com.service

                </div>
                <div>
                    sudo systemctl status stage-data-broker.clubeez.com.service
                </div>
            </p>
            @* <p>
                <div>
                    [Unit]
                </div>
                <div>
                    Description=stage-data-broker.clubeez.com

                </div>
                <div>
                    [Service]
                </div>
                <div>
                    WorkingDirectory=/opt/data-broker
                </div>
                <div>
                    ExecStart=/usr/bin/dotnet /opt/data-broker/Data.Broker.Service.dll --environment "staging"
                </div>
                <div>
                    Restart=always
                </div>
                <div>
                    RestartSec=10 # Restart service after 10 seconds if dotnet service crashes
                </div>
                <div>
                    SyslogIdentifier=stage-data-broker.clubeez.com
                </div>
                <div>
                    User=webalive
                </div>
                <div>
                    Environment="ASPNETCORE_URLS=http://*:7002"
                </div>
                <div>
                    Environment="ASPNETCORE_ENVIRONMENT=staging"
                </div>
                <div>
                    Environment="LOG_DIRECTORY=logs/stage-data-broker.clubeez.com"

                </div>
                <div>
                    [Install]
                </div>
                <div>
                    WantedBy=multi-user.target
                </div>
            </p> *@
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
